/*
  Tudo aqui foi produzido por mim (Johann C. S. Antunes) fazendo uso do VSCode (depois de passar tempo até demais configurando),
  Edge Browser, café e muita paciência (um simples CSS é mais trabalhoso que parece (⊙ˍ⊙)).

  Tudo pode ser copiado, modificado e usado ao gosto do interessado, que deve somente concordar em dar os créditos apropriadamente.
*/

:root {
  --fontColor: #e2e2e2;
  --bgColor: #202020;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in-and-out {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

* {
  margin: 0;
  padding: 0;

  text-decoration: none;
  font-size: 16px;

  font-family: Arial, Helvetica, sans-serif;
  color: var(--fontColor);

  background: var(--bgColor);
}
::selection {
  color: white;
  background-color: #494949;
}

#first-page {
  position: relative;

  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 40vh 20vh 20vh 10vh 10vh;
  grid-template-areas:
    "EMPTY-0"
    "name"
    "continue"
    "EMPTY-1"
    "quote";
  align-items: center;
  justify-items: center;

  text-align: center;

  animation: fade-in 1.2s;
  animation-timing-function: ease-out;
}
.name {
  grid-area: name;
  min-width: 300px;
  font-size: 46pt;
}
.quote {
  grid-area: quote;
  max-width: 480px;
  font-size: 12pt;
}
.quote-credits {
  text-align: right;
  font-size: 10pt;
}
.continue {
  opacity: 0;
  grid-area: continue;
  width: 290px;
  animation: fade-in-and-out 2s;
  animation-delay: 2.5s;
  animation-iteration-count: infinite;
}

#second-page {
  display: none;

  position: relative;

  grid-template-columns: repeat(3, 33.3333%);
  grid-template-rows: 24% 36% 36% 4%;
  grid-template-areas:
    "image info info"
    "image academics softskills"
    "experience hardskills languages"
    "footer footer footer";

  animation: fade-in 0.2s;
  animation-timing-function: ease-out;
}
.title {
  font-size: 16pt;
  text-align: center;
}
.text {
  font-size: 12pt;
  margin-top: 0.5rem;
}
.grid-block {
  padding: 2%;
}
.image {
  grid-area: image;
}
.photo {
  max-height: 100%;
  max-width: 100%;
  border-radius: 5%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.info {
  grid-area: info;
  text-align: center;
}
.info .title {
  font-size: 18pt;
}
.academics {
  grid-area: academics;
}
.hardskills {
  grid-area: hardskills;
}
.experience {
  grid-area: experience;
}
.softskills {
  grid-area: softskills;
}
.languages {
  grid-area: languages;
}
.footer {
  grid-area: footer;
  position: relative;
  padding: 0.25rem;
  font-size: 13pt;
  text-align: center;
}
.footer > .outside-link:nth-last-child(n + 2) {
  margin-right: 1rem;
}

@media only screen and (max-width: 900px) {
  #second-page {
    display: none;

    position: relative;

    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(4, 25.5%) 3.5%;
    grid-template-areas:
      "image info"
      "image academics"
      "experience hardskills"
      "softskills languages"
      "footer footer";

    animation: fade-in 0.2s;
    animation-timing-function: ease-out;
  }
}
@media only screen and (max-width: 768px) {
  #second-page {
    display: none;

    position: relative;

    grid-template-columns: 100%;
    grid-template-rows: fit-content(12.5%);
    grid-template-areas:
      "info"
      "image"
      "academics"
      "hardskills"
      "experience"
      "softskills"
      "languages"
      "footer";

    animation: fade-in 0.2s;
    animation-timing-function: ease-out;
  }
  .grid-block {
    padding: 5%;
    margin-bottom: 5%;
  }
  .text {
    text-align: center;
  }
}
